name: CMake

on:
  push:
  pull_request:

jobs:
  linalg-build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        configuration: [ "Release", "Debug" ]
        settings:
        - {
            compiler_driver: g++-12,
            compiler_prefix: /usr/bin,
            compiler_version: 23
          }
        - {
            compiler_driver: g++-12,
            compiler_prefix: /usr/bin,
            compiler_version: 20
          }
        - {
            compiler_driver: clang++-14,
            compiler_prefix: /usr/bin,
            compiler_version: 20
          }
    name: ${{ matrix.settings.compiler_driver }}, C++${{ matrix.settings.compiiler_version }}, ${{ matrix.configuration }}
    steps:
    
    - name: Install gtest manually
      run: sudo apt-get install libgtest-dev &&
           cd /usr/src/gtest &&
           sudo cmake CMakeLists.txt &&
           sudo make &&
           sudo cp lib/*.a /usr/lib &&
           sudo ln -s /usr/lib/libgtest.a /usr/local/lib/libgtest.a &&
           sudo ln -s /usr/lib/libgtest_main.a /usr/local/lib/libgtest_main.a
           
    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/linalg-build

    - name: Check Out
      uses: actions/checkout@v3
      with:
        path: ${{github.workspace}}/linalg-src
        submodules: recursive
        
    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/linalg-build
      run: CMAKE_CXX_COMPILER=${{ matrix.settings.compiler_prefix}}/${{ matrix.settings.compiler_driver }}
           CXX=${{ matrix.settings.compiler_prefix}}/${{ matrix.settings.compiler_driver }} 
           CMAKE_CXX_STANDARD=${{ matrix.settings.compiler_version }}
           cmake $GITHUB_WORKSPACE/linalg-src -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/linalg-install

    - name: Build
      shell: bash
      env:
        BUILD_TYPE: ${{ matrix.configuration }}
      working-directory: ${{github.workspace}}/linalg-build
      run: make -j
    
    - name: Test
      working-directory: ${{github.workspace}}/linalg-build
      shell: bash
      run: ctest --rerun-failed --output-on-failure
            
    - name: Install
      shell: bash
      working-directory: ${{github.workspace}}/linalg-build
      run: make install
